@model Shop.Web.ViewModels.Identity.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="auth-title">Iniciar sesión</h1>

@if (!string.IsNullOrWhiteSpace(Model?.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label fw-semibold">Email</label>
        <input asp-for="Email" class="form-control" placeholder="admin@shop.com" autocomplete="username" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label fw-semibold">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Tu contraseña" autocomplete="current-password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100 auth-btn">
        Entrar
    </button>

    <div class="auth-divider"></div>

    <p class="auth-muted mb-0">
       
    </p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
