@{
    ViewData["Title"] = "Inicio";
}

<div class="banner-section">
    <img src="https://i.imgur.com/2YghvWg.jpeg" class="img-fluid rounded" />
</div>

<h2 class="mt-4">Explorar categorías</h2>

<div class="row mt-3">
    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img class="card-img-top" src="https://i.imgur.com/I0yKQq1.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Electrónica</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img class="card-img-top" src="https://i.imgur.com/bGvovbw.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Moda</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img class="card-img-top" src="https://i.imgur.com/1DbyA1J.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Belleza</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img class="card-img-top" src="https://i.imgur.com/V9GmNKH.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Hogar</h5>
            </div>
        </div>
    </div>
</div>
